.card .shadow .col-md-6.bloodtype_card{
    margin: 0;
    padding: 0;
}

.bloodyhell {
    color: white;
    background-color: #C62828;
    font-size: 90px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.thead-text{
    font-size: 90%;
}

.donnor-add-label{
    color: #B71C1C;
}

.loginbackground{
	background-color: #FFCDD2;
}
